*{
 font-family: 'Plus Jakarta Sans', sans-serif;
 box-sizing: border-box;
 margin:0;
 padding:0;
 border:0;
 text-decoration: none;

}

 .wrapper{
    background: linear-gradient( rgba(255, 255, 255, 1) 0%,rgba(240,241,255) 100% );     
    color: rgb(19,24,63);
    margin-left:20px;;
   }
 .header{
   display:flex;
   align-items: center;
   margin:20px 20px 20px 0px;
   justify-content: space-between;
   
 }
 .header .logo
 {
  height:30px;
 }

 .header-btn{
   border-radius: 28px;
   width:167px;
   height: 56px;
   font-size: 18px;
   line-height: 28px;
   font-weight: bold;
   color:rgb(255, 255, 255);
   background-color: rgb(19,24,63);
 }
 .header-btn:hover{
   background-color: rgb(102,108,163);
   cursor:pointer;
}

h1{
   font-size: 35px;
   font-weight:bolder;
   margin: 48px 16px 48px 0px ;
   
}
.content-1 p{
   font-size:15px;
   font-weight: lighter;
   line-height:25px;
 
}
.started-btn{
   color:rgb(255, 255, 255);
   width:130px;
   height:50px;
   margin-top:10px;
   border-radius:36px;
   background-image:linear-gradient( rgba(255, 111, 72, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
   }
   .started-btn:hover{
    cursor: pointer;
    --bg-color-btn:linear-gradient( rgba(255, 111, 72, 1) 0%,rgba(240, 42, 166, 1) 100%);
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
      var(--bg-color-btn);
   }
 .images-hero{
   background-image: url("./assets/image-hero-mobile.png");  
   background-repeat:no-repeat;
	background-size:cover;
   height: 386px;
   width: 100%;
   
   
   }
   .container-1{
   color:rgb(255, 255, 255);
   text-align:left;
	font-size:24px;
   border-radius: 15px;
   padding: 30px;
   line-height: 32px;
   font-weight:bolder;
   height: 120px;
   margin-top: 30px;
   overflow: hidden;
	background-image:linear-gradient(rgba(255, 111, 72, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
   }
   .content{
      display: flex;
     justify-content: space-between;
     background-color: white;
     border-radius:10px;
     margin: 40px auto;
     flex-direction: column;
   }
   .content p{
      margin:0px;
      
   }

   .content h2{
      color:13183F;
      font-weight:bolder;
      font-size: 20px;  
      margin-top: -25px;
      margin-bottom: 16px;
      line-height: 28px;
   }
   .container_logo{
      position: relative;
      top: -40px;
      display: block;
      width: 56px;
   }
   .content a{
      display: inline-block;
      font-weight: bold;
      color:#F74780;
      line-height: 28px;
      font-size: 18px;
      margin:40px 0 32px 0;
    }
    
    .content a:hover {
      color:#FFA7C3;
    }

    footer{
      background-color:rgb(19,24,63);
      display: flex;
      align-items: center; 
      height:86px;
   
      
    }

    .footer{
      align-items: center; 
      margin:16px;
      display:flex;
      justify-content: space-between;
      width:100%;
    
    }
   .footer-btn{
      border-radius: 28px;
      width:167px;
      height: 56px;
      font-size: 18px;
      line-height: 28px;
      font-weight: bold;
      color:rgb(255, 255, 255);
      background-image:linear-gradient(0deg, rgba(72, 81, 255, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
   }
   .footer-btn:hover{
      cursor: pointer;
      --bg-start-btn:linear-gradient(0deg, rgba(72, 81, 255, 1) 0%,rgba(240, 42, 166, 1) 100%) ;
      background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        var(--bg-start-btn);
     }

     @media(min-width: 600px){
      .header,.container{
         margin-left:60px;
      }
      .images-hero{
         background-image: url("./assets/image-hero-tablet.png");
         background-repeat: no-repeat;
         background-position: bottom left;
         background-size: cover;
         position: absolute;
         top: 0;
         right: 0;
         width: 55%;
         height:70vh;
         
      }
      .header-btn
      {
         z-index: 1000;
      }
      
      .container{
         align-items: center;
         height: 50vh;
         width: 48%;
         margin-top: 5rem;
         margin-bottom: 5rem;
         overflow-x: hidden;
       }
      .container-1{
         margin: 40px 0 0 0;
         padding: 56px 32px;
       }
       .content-1 h1{
         font-size: 36px;
       }
     
       .content-1 p,.content p
       {
         font-size: 16px;
   
       }
     
       .section-2{
         width: 90%;
         height: 930px;
         display: grid;
         grid-template: repeat(3, 30%)/1fr 1fr;
         gap: 32px 15px;
         margin: auto;
          }    
          .content-1{
            margin-top: -30px;
       }
       @media(min-width:900px){        
      
         .images-hero {
            height: 70vh;
            background-image: url(./assets/image-hero-desktop.png);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            width: 55%;
            height:70vh;
          }
          .content-1{
            margin-top: -60px;
          }
          .header{
            margin:64px;
          }
   
          .content-1 h1 {
            font-size: 56px;
            line-height: 70px;
          }
        
          .section-2{
            width: 95%;
            height: 600px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(2, 44%);
            gap: 56px 30px;
            margin-bottom: 140px;
          }
          
          .container-1{
            height:auto;
            font-size: 1.5rem;
            text-align: center;
            
          }
        
          .container-1,
          .content {
            width: 100%;
          }
        
          .footer{
            width: 80%;
            margin: auto;
          }   
         
         }
     }
     @media(min-width:1700px) {        
      
      .images-hero {
         height: 70vh;
         background-image: url(./assets/image-hero-desktop@2x.png);
         background-repeat: no-repeat;
         background-position: bottom left;
         background-size: cover;
         position: absolute;
         top: 0;
         right:0;
         width: 55%;
         height:75vh;
       }
       .content-1{
         margin-top: -60px;
       }
       .header{
         margin:50px;
       }

       .content-1 h1 {
         font-size: 62px;
         line-height: 70px;
       }
     
       .section-2{
         width: 95%;
         height: 600px;
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: repeat(2, 44%);
         gap: 56px 30px;
         margin-bottom: 140px;
       }
       
       .container-1{
         height:auto;
         font-size:2.2rem;
         text-align: center;
         
       }
     
       .container-1,
       .content {
         width: 100%;
       }
     
       .footer{
         width: 80%;
         margin: auto;
       }   
      
      }
  